.flashy {
color: red;
font-style: italic;
}
.best { 
color: blueviolet;
font-style: italic;
}
.emphasis {
  font-weight: bold;
}
li {
  font-size: xx-large;
  font-style: normal;
  text-align: center;
}